:root {
    --main: #222C36;
    --secondary: #030B2E;
    --trim: #47A3E5;
}

body {
    margin-top: 40px;
    font-family: sans-serif;
    background: var(--main);
    overflow: hidden;
    color: white;
}


/* Titlebar */

titlebar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--secondary);
    width: 100vw;
    height: 32px;
    user-select: none;
    -webkit-app-region: drag;
    padding: 5px;
    box-sizing: border-box;
}

winbuttons {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
}

winbuttons img {
    margin: none;
    -webkit-app-region: none;
}

winbuttons img:hover {
    filter: brightness(75%);
}

#title-name {
    color: white;
    font-size: 13pt;
}

#title-name img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}


/* Sidebar */

#topbar {
    background: var(--secondary);
    position: absolute;
    left: 0px;
    top: 32px;
    height: 78px;
    width: 100vw;
    box-sizing: border-box;
}

tab {
    display: inline-block;
    box-sizing: border-box;
    height: 78px;
    width: 78px;
    padding: 7px;
    margin-left: 16px;
}

tab.selected {
    border-bottom: 4px solid var(--trim);
}

tab img {
    height: 64px;
    user-select: none;
}

tab:hover img {
    filter: brightness(125%);
}